@media (max-width: 1199.98px)
  html, body
    font-size: 10px

  .header
    .container
      padding: 0 40px


@media (max-width: 991.98px)
  html, body
    font-size: 12px

@media (max-width: 767.98px)
  .offers-slider
    padding: 0 30px

@media (max-width: 575.98px)
  .offers-slider
    padding: 0 10px

    .swiper-slide
      width: 100%
      padding: 0 5px

  .offers-slider-scrollbar
    display: none

  .offer-card
    padding-top: 25px

  .offer-card-title
    font-size: 28px

  .offer-card-description
    font-size: 18px

  .category-card-title
    font-size: 28px

  .category-card-description
    font-size: 18px

  .nav-menu
    grid-gap: 0
    justify-content: space-between

  .nav-menu-link
    font-size: 14px

    img
      height: 35px

  .s-nav-menu
    padding: 35px 0

  .offer-card-image
    &:before
      padding-bottom: 39.34%
